/*--- Default styling ---*/
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1 {
    color: #F9F9F9;
    text-shadow: 1px 1px 2px #000000; /* 縁の色とぼかしの設定 */
    margin-top: 0;
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 80px;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 0.95rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    color: #C6C124;  /* 暗めの黄色 */
    font-size: 1.6rem;
}

ul {
    margin: 0;
}

p {
    line-height: 30px;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/*.main-pickup-item {
    padding-bottom: 20px;
}

/*--- Reusable Classes ---*/
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.h2-title-polygon {
text-align: center;
padding: 2px 0px;
background-color: #FFF9BD;  /* 薄い黄色 */
margin: auto;  /* 上マージンを負の値にしてセクション1の底と接触させる */
clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);  /* 上底の方が下底より大きい台形 */
width: 33%;  /* 横幅を画面の三分の一に変更 */
}

.h2-title {
    padding: 30px 0px;
    position: relative;
}

.h2-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: white;
  }

  .main-pickup-item-text >p {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }

  .main-pickup-item-text >p {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }

  .main-point-item-text-list {
    font-size: 1.1rem;
    line-height: 2.5rem;
  }

  .main-blog-item-text >p {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }
/*--- Header ---*/
  .header {
    display: flex;  /* フレックスボックスを有効にして子要素を水平に配置 */
    align-items: center;  /* 子要素を垂直方向の中央に配置 */
    justify-content: space-between;  /* 子要素を左右端に配置 */
    width: 100%;
    height: 53px;
    position: fixed; /* ヘッダーが追従するように設定 */
    z-index: 2;
    border-bottom: 3px solid;  /* 下部にボーダー（グラデーションライン）を設定 */
    border-image: linear-gradient(to left, rgb(255, 11, 174), yellow, transparent);  /* 左から右へのグラデーションラインを設定 */
    border-image-slice: 1;  /* ボーダー画像の表示範囲を設定 */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05); /* ヘッダーに影（立体感）を追加 */
    transition: background-color 0.3s ease, color 0.3s ease;
}

  .header.colorized {
    background-color: white; /* 色付きの背景色 */
    color: black; /* 色付きのテキスト色 */
    

  }

  .header-logo {
    display: flex;
    align-items: center;
  }

  .header-nav-menu {
    display: flex;
    list-style: none;
  }

  .header-nav-menu-item a {
    color: white; /* 最初の文字の色を変更する */
    font-weight: 600;
    text-shadow: 1px 1px 2px #000000; /* 縁の色とぼかしの設定 */

  }

  .header-nav-menu-item > a:hover ,
  .header-nav-menu-item > a:focus {
    color: #F3F68D;
  }


/*--- Main hero ---*/

/*#halo {
    height: 700px;
    padding-top: 53px; 
}*/


 .main-hero {
    background-color: gainsboro;
    padding-bottom: 20px;
    height: 765px;
 }

 .main-img{
    background-image: url('../images/dreamy-universal-light.jpg');  /* 画像のURLを指定     */
    background-position:left top;                     /* 画像の表示位置を指定 */
    background-size:cover;                                 /* 画像のサイズを指定  */
    width:100%;                                            /* 横幅のサイズを指定  */
    height:765px;                                          /* 縦幅のサイズを指定  */
    padding-top: 53px; 
}

 .main-hero-highlight-links a{
    background: linear-gradient(to left, rgba(253, 138, 228, 0.822), rgb(253, 253, 141));
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    
 }

/*--- Main about ---*/
 .main-about {
    background-color: black;
    background: radial-gradient(circle at top right, rgba(255, 255, 255, 0.3), rgba(255, 255, 0, 0.1));

 }

 .main-about-item-img-content > p {
 color: #C6C124;  /* 暗めの黄色 */
 }

 .main-about-item-img img {
    max-width: 80%;
    height: auto;

 }
/*--- Main pickup ---*/

.main-pickup {
    background: linear-gradient(to left, rgba(253, 138, 228, 0.822), rgb(253, 253, 141));
    color: black;
 }

 .button-container {
    text-align: center;
    padding-top: 22px;
 }

 .button-detail-1 {
    background: linear-gradient(to left, rgba(253, 138, 228, 0.822), rgb(253, 253, 141));
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
 }

 .main-pickup-item {
    margin: 100px 0px;
 }

 .main-pickup-item-1 img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
/*--- Main point ---*/
.main-point {
    background-color: #FFFFFF;
    color: black;
    background: radial-gradient(circle at top right, rgba(255, 255, 255, 0.3), rgba(255, 255, 0, 0.1));
 }

.button-contact {
    display: inline-block;
    background-color: #F4F47A;
    color: black;
    border-radius: 4px;
    padding: 10px 20px;
  }

.main-point-item-text {
    text-align: center;
}

.main-point-item-text >h4 {
    padding-bottom: 15px;
    position: relative;
}

.main-point-item-text >h4::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: -1px;
    width: 50%;
    height: 2px;
    background-color: #FFE13F;
  }

/*--- Main blog ---*/
.main-blog {
    background: linear-gradient(to left, #F3F68D, #91B7EA);
    color: black;
 }
 .button-detail-2 {
    background: linear-gradient(to left, #F3F68D, #91B7EA);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
 }

 .main-blog-item-content{
    text-align: center;
 }

 .main-blog-item {
    margin-top: 100px ;
    padding-bottom: 50px;
 }

 .main-blog-item-1 img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
/*--- Main bot ---*/
.main-bot {
    background: radial-gradient(circle at top right, rgba(255, 255, 255, 0.3), rgba(255, 255, 0, 0.1));
    background-color: #FFFFFF;
    color: black;
 }

 .main-bot-item >p {
    margin-top: 0;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 80px;
    color: #C6C124;  /* 暗めの黄色 */
    text-shadow: 1px 1px 2px whitesmoke; /* 縁の色とぼかしの設定 */
 }

.scroll-to-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #F4F47A;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow-up {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    margin-right: 5px;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #F4F47A;
  }

/*--- footer ---*/
.footer {
    background-color: #F9F9F9;
}

.footer-nav-menu ul{
    display: flex;
    list-style: none;
  }

.footer-security {
    display: flex;
}