/*--- Default styling ---*/
*, *::before, *::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

h1 {
    color: #F9F9F9;
    text-shadow: 1px 1px 2px #000000; /* 縁の色とぼかしの設定 */
    margin-top: 0;
    font-size: 3.4rem;
    font-weight: 600;
    line-height: 80px;
}

h2 {
    text-align: center;
}

h3 {
    font-size: 0.95rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
  color: #C6C124;  /* 暗めの黄色 */
  font-size: 1.6rem;
  padding: 10px; /* テキスト周りに余白を追加 */
  background-color: #f6f6d7; /* 背景色を設定 */
  box-shadow: 5px 5px #c7c7c7; /* ボックスシャドウ（3D効果）を追加 */
  display: inline-block; /* ブロック要素をインライン要素のように扱う（余白や影を正しく表示するため） */
  transform: skew(-5deg); /* 要素を斜めに傾ける */
}



ul {
    margin: 0;
}

p {
    line-height: 30px;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

td{
  line-height: 25px;
}
  /* パンくずリストのスタイル */

.breadcrumbs ul {
  list-style: none;
  margin: 0;
  padding: 5px 0px;
  font-size: 0.9rem;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li::after {
  content: " > ";
  margin: 0 5px;
}

.breadcrumbs li:last-child::after {
  content: ""; /* 最後のアイテムの後には矢印を表示しない */
}

.breadcrumbs a {
  text-decoration: none;
  /* リンクのスタイル */
}

/*--- Reusable Classes ---*/
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.h2-title-polygon {
text-align: center;
padding: 2px 0px;
background-color: #FFF9BD;  /* 薄い黄色 */
margin: auto;  /* 上マージンを負の値にしてセクション1の底と接触させる */
clip-path: polygon(0 0, 100% 0, 75% 100%, 25% 100%);  /* 上底の方が下底より大きい台形 */
width: 33%;  /* 横幅を画面の三分の一に変更 */
}

.h2-title {
    padding: 30px 0px;
    position: relative;
}

.h2-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: white;
  }

  .main-pickup-item-text >p {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }

  .main-pickup-item-text >p {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }

  .main-point-item-text-list {
    font-size: 1.1rem;
    line-height: 2.5rem;
  }

  .main-blog-item-text >p {
    font-size: 0.85rem;
    line-height: 1.3rem;
  }
/*--- Header ---*/
  .header {
    display: flex;  /* フレックスボックスを有効にして子要素を水平に配置 */
    align-items: center;  /* 子要素を垂直方向の中央に配置 */
    justify-content: space-between;  /* 子要素を左右端に配置 */
    width: 100%;
    height: 53px;
    position: fixed; /* ヘッダーが追従するように設定 */
    z-index: 2;
    border-bottom: 3px solid;  /* 下部にボーダー（グラデーションライン）を設定 */
    border-image: linear-gradient(to left, rgb(255, 11, 174), yellow, transparent);  /* 左から右へのグラデーションラインを設定 */
    border-image-slice: 1;  /* ボーダー画像の表示範囲を設定 */
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05); /* ヘッダーに影（立体感）を追加 */
    transition: background-color 0.3s ease, color 0.3s ease;
}

  .colorized {
    background-color: white; /* 色付きの背景色 */
  }

  .colorized .header-nav-menu-item a {
    /* スクロール位置に応じた色へ変更 */
    color: #242424; /* 赤色に変更 */
    text-shadow: 1px 1px 1px white; /* 縁の色とぼかしの設定 */

  }

  .colorized .header-nav-menu-item > a:hover ,
  .colorized .header-nav-menu-item > a:focus {
    color: #c9cd57;
  }


  
  .header-logo-img.colorized {
    content: url('../images/Wigglyyoko.png'); /* 新しいロゴ画像のパスを指定 */
  }

  .header-logo {
    display: flex;
    align-items: center;
    max-width: 300px;
  }

  .header-logo img {
    max-height: 48px;
    padding-left: 20px;
  }
  .header-nav-menu {
    display: flex;
    list-style: none;
  }

  .header-nav-menu-item a {
    color: white; /* 最初の文字の色を変更する */
    font-weight: 600;
    text-shadow: 1px 1px 2px #242424; /* 縁の色とぼかしの設定 */

  }

  .header-nav-menu-item > a:hover ,
  .header-nav-menu-item > a:focus {
    color: #F3F68D;
  }

  /* .white-header クラスが body 要素に追加されているページでは、ヘッダーの背景色を白色に設定します。 */
.white-header .header {
  background-color: white;
}

/* .white-header クラスが body 要素に追加されているページでは、ナビゲーションメニューのリンクの文字色を灰色に設定します。 */
.white-header .header-nav-menu-item a {
  color: #242424;
  /* テキストに白色の影を追加します。 */
  text-shadow: 1px 1px 1px white;
}

/* .white-header クラスが body 要素に追加されているページでは、ロゴ画像を変更します。 */
.white-header .header-logo-img {
  content: url('../images/Wigglyyoko.png');
}

/* .white-header クラスが body 要素に追加されているページでは、ナビゲーションメニューのリンクがホバーされたときの文字色を変更します。 */
.white-header .header-nav-menu-item > a:hover,
.white-header .header-nav-menu-item > a:focus {
  color: #c9cd57; /* この色はあなたの要件に合わせて変更できます。 */
}


/*--- Main hero ---*/

 .main-hero {
    background-color: gainsboro;
    padding-bottom: 20px;
    height: 765px;
 }

 .main-img{
    background-image: url('../images/dreamy-universal-light.jpg');  /* 画像のURLを指定     */
    background-position:left top;                     /* 画像の表示位置を指定 */
    background-size:cover;                                 /* 画像のサイズを指定  */
    width:100%;                                            /* 横幅のサイズを指定  */
    height:765px;                                          /* 縦幅のサイズを指定  */
    padding-top: 53px; 
}

.main-hero-highlight-content {
  color: #F9F9F9;
  text-shadow: 1px 1px 2px grey; /* 縁の色とぼかしの設定 */
}

 .main-hero-highlight-links a{
    background: linear-gradient(to left, rgba(253, 138, 228, 0.822), rgb(253, 253, 141));
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    
 }

/*--- Main about ---*/
 .main-about {
    background-color: black;
    background: radial-gradient(circle at top right, rgba(255, 255, 255, 0.3), rgba(255, 255, 0, 0.1));

 }

 .main-about-item-img-content > p {
 color: #C6C124;  /* 暗めの黄色 */
 }

 .main-about-item-img {
  text-align: center;
}

 .main-about-item-img img {
    max-width: 80%;
    height: auto;

 }
/*--- Main pickup ---*/

.main-pickup {
    background: linear-gradient(to left, rgba(253, 138, 228, 0.822), rgb(253, 253, 141));
    color: black;
    padding-bottom: 50px;
 }

 .button-detail-1 {
    background: linear-gradient(to left, rgba(253, 138, 228, 0.822), rgb(253, 253, 141));
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
 }

 .main-pickup-item-1 {
  margin-top: 100px; /* 余白のサイズを適宜調整 */
}

 .main-pickup-item-1 img {
    width: 100%;
    height: auto;
    border-radius: 4px;

  }

  .button-container {
    text-align: center;
    padding: 20px;
 }
/*--- Main point ---*/
.main-point {
    background-color: #FFFFFF;
    color: black;
    background: radial-gradient(circle at top right, rgba(255, 255, 255, 0.3), rgba(255, 255, 0, 0.1));
    padding-bottom: 30px;
 }

.button-contact {
    display: inline-block;
    background-color: #F4F47A;
    color: black;
    border-radius: 4px;
    padding: 10px 20px;
  }

.main-point-item-text {
    text-align: center;
}

.main-point-item-text >h4 {
    padding-bottom: 15px;
    position: relative;
}

.main-point-item-text >h4::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: -1px;
    width: 50%;
    height: 2px;
    background-color: #FFE13F;
  }

/*--- Main blog ---*/
.main-blog {
    background: linear-gradient(to left, #F3F68D, #91B7EA);
    color: black;
    padding-bottom: 50px;
 }
 .button-detail-2 {
    background: linear-gradient(to left, #F3F68D, #91B7EA);
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
 }

 .main-blog-item-content{
    text-align: center;
 }

 .main-blog-item-1 {
  margin-top: 100px; /* 余白のサイズを適宜調整 */
 }

 .main-blog-item-1 img {
    width: 100%;
    height: auto;
    border-radius: 4px;
  }
/*--- Main bot ---*/
 .main-bot{
  background-image: url('../images/trees-picture-image.jpg');  /* 画像のURLを指定     */
  background-position:top;                     /* 画像の表示位置を指定 */
  background-size:cover;                                 /* 画像のサイズを指定  */
  background-repeat: no-repeat;
  background-attachment: fixed; /* 画像を固定する */
  width:100%;                                            /* 横幅のサイズを指定  */
}

 .main-bot-item >p {
    margin-top: 0;
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 80px;
    color: #c9cd57;  /* 暗めの黄色 */
    text-shadow: 1px 1px 2px black; /* 縁の色とぼかしの設定 */
 }

 .scroll-to-top-btn {
  height: 100px;
  width: 100px; /* 幅と高さを同じに設定して円形にする */
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 50%; /* 丸くするために値を50%に設定 */
  background-color: #F4F47A;
  color: black;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.arrow-up {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(-135deg);
    margin-right: 5px;
  }
  
  .scroll-to-top-btn:hover {
    background-color: #F4F47A;
  }

  /*--- footer styling ---*/

.footer {
    background-color: slategrey
}

.footer-nav-img {
  display: flex;
  align-items: center;
  max-width: 300px;
  height: 75px;
}

.footer-nav-menu ul{
    display: flex;
    list-style: none;
  }

.footer-security {
    display: flex;}

.footer-nav-menu-item a{
    color: #F9F9F9;
}

.footer-security-item a{
    color: #F9F9F9;
}

.footer-copy a{
    color: #F9F9F9;
}

  /*--- ホームページ・プロフィール styling ---*/

  /*--- default styling ---*/
  h1.profile__h1  {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    color: #F9F9F9;
    text-shadow: 1px 1px 2px #000000; /* 縁の色とぼかしの設定 */
    font-size: 3.0rem;
    font-weight: 400; 
    letter-spacing: 0.2em; /* 文字間隔を0.2emに設定 */
  }

  h2.profile__h2 {
    position: relative;
    text-align: center;
    color: black; /* 文字色を#F3F68Dに変更 */
    display: flex;
    align-items: center;
    justify-content: center;
}

h2.profile__h2::before,
h2.profile__h2::after {
    content: "";
    position: relative;
    display: inline-block;
    height: 3px;
    width: 80px; /* 両サイドの線の長さを調整 */
    background-color: #F3F68D; /* 両サイドの線の色を#F3F68Dに変更 */
    border-radius: 2px; /* 両サイドの線の端を丸く */
    margin: 0 15px; /* テキストとの間隔を調整 */
}

  

  h3.profile__h3 {
    padding-left: 20px;
    font-size: 1.5rem;
    position: relative;
  }
  
  h3.profile__h3::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
    height: 200%; /* 線の高さを調整する値を指定してください */
    width: 6px; /* 線の幅を調整する値を指定してください */
    background-color: #F3F68D;
  }
  
  h4.profile__h4 {
    font-size: 1.05rem;
    padding-left: 1.2em;/*アイコン分のスペース*/
    position: relative;/*相対位置*/
  }
  
  h4.profile__h4::before{
    font-family: "Font Awesome 5 Free";
    content: "\f1b0";/*アイコンのユニコード*/
    font-weight: 900;
    position: absolute;/*絶対位置*/
    font-size: 1em;/*サイズ*/
    left: 0;/*アイコンの位置*/
    top: 0;/*アイコンの位置*/
    color: #ff938b; /*アイコン色*/
  }

  h5.profile__h5 {
    font-size: 1.2rem;
  }

  .profile-color{
    background: #FEFCFA ;
  }

  /*--- breadcrumbs styling ---*/
  .breadcrumbs-li{
    padding-top: 60px;
  }

  /* profile-cover */
.profile-cover--img{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/Profile_cover.jpg');  /* 画像のURLを指定     */
  background-position:left top;                     /* 画像の表示位置を指定 */
  background-size:cover;                                 /* 画像のサイズを指定  */
  width:100%;                                            /* 横幅のサイズを指定  */
  height:220px;                                        /* 縦幅のサイズを指定  */
}

.main-hero-highlight-content {
color: #F9F9F9;
text-shadow: 1px 1px 2px grey; /* 縁の色とぼかしの設定 */
}

   /* profile-linkのスタイル */



   .button-wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0px;
  }
  
  .button-wrapper a {
    border: 2px solid ;
    border-image: linear-gradient(to left, rgba(253, 138, 228, 0.822), rgb(253, 253, 141))1;
    color: #242424;
    font-weight: 600;
    font-size: 0.95rem;
    text-align: center;
    padding: 12px 24px; /* パディング追加 */
    text-decoration: none; /* テキストの下線を消す */
    transition: all 0.3s ease-in-out; /* トランジション追加 */
    border-radius: 4px;
  }
  
  .button-wrapper a:hover {
    background: linear-gradient(to left, rgba(253, 138, 228, 0.822), rgb(253, 253, 141));
    color: #242424; /* 濃い青色 */
    transform: scale(1.05); /* ホバー時にボタンを少し大きくする */
  }  
  

   /* greetingのスタイル */

   #greeting{
    padding-top: 50px;
   }
  
  .greeting-block__hightlight__text >p{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #C6C124;
    padding-top: 25px;
  }
  
  .greeting-block__text{
    padding-top: 15px;
  }

  .greeting-block__text >p{
    line-height: 20px;
  }

  /* business-overviewのスタイル */

  #business-overview {
    padding-top: 50px;
  }

  .overview-table-container {
    padding-top: 30px;
  }
  
  /* business-overviewの表スタイル */
  
  .overview-table {
    margin: 0 auto;
    border-collapse: collapse;
    max-width: 50rem; /* 表の最大幅を指定 */
    width: 100%; /* 表の幅を100%に設定 */
  }
  
  .overview-table__cell {
    padding: 10px;
    border: 1px solid #C6CAA6;
    width: 85%; /* 左のカラムの幅を指定 */
  }
  
  .overview-table__cell--yellow {
    background-color: #FFF0B4;
    font-weight: bold;
    text-align: center; /* 左のカラムの文字を真ん中に配置 */
    width: 15%; /* 右のカラムの幅を指定 */
  }

  /* my-profileのスタイル */

  #my-profile{
    padding-top: 50px;
  }


  .my-profile__description >p{
    line-height: 25px;
    font-size: 0.9rem
  }

  /* my-policyのスタイル */

  #my-policy{
    padding-top: 50px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .my-policy__title {
    grid-column: 1 / -1;
  }
  
  .my-policy__content {
    padding-top: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 20px;
  }

  .my-policy__content__tittle {
    padding-left: 30px;
 }
  
  .my-policy__column {
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 10px;
  }
  
  .my-policy__column img {
    width: 100%;
    height: 100%;
  }
  
  .my-policy__column div {
    display: flex;
    flex-direction: column;
  }
  
  .my-policy__column h5, .my-policy__column p {
    margin: 0;
  }

  .my-policy__description{
    padding-top: 10px;
  }

  #my-policy{
    padding-bottom: 100px;
  }
  

  /*--- profile-foot-cover ---*/
  .profile-foot-cover {
    background-image: url('../images/profile-fot.jpg');
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
  }


    /* contact-cover */  /* contact-cover */
  
  .required-label {
    background-color: red;
    color: white;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 0.8em;
  }

  .any-label {
    background-color: #c7c7c7;
    color: white;
    padding: 2px 5px;
    margin-right: 5px;
    font-size: 0.8em;
  }
  
  
  /* contact-cover */

.contact-cover--img{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../images/contact_cover.jpg');  /* 画像のURLを指定     */
  background-position:bottom ;                     /* 画像の表示位置を指定 */
  background-size:cover;                                 /* 画像のサイズを指定  */
  width:100%;                                            /* 横幅のサイズを指定  */
  height:220px;                                          /* 縦幅のサイズを指定  */
}

 /* contact-block__tit */
 .contact-block__txt >p {
  text-align: center;
  padding: 50px 0px;
 }

 /* contact-form */
 .contact-form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 8px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.checkbox-label {
  display: flex;
  align-items: center;
  padding: 5px 0px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 10px;
}

.contact-form .checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.form-container input, .form-container textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form textarea {
  height: 200px;
}

.form-container input[type="submit"] {
  background-color: #C6C124;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
  background-color: #c9cd57;
}


.privacy-policy-agreement {
  display: flex;
  align-items: center;  /* flex-startからcenterへ変更 */
  flex-direction: row;  /* 追加 */
}

.privacy-policy-agreement input[type="checkbox"] {
  margin-right: 10px;
}

.privacy-policy-agreement label {
  font-size: 0.9em;
  padding: 20px 0px;
}

.contact-bottom {
  padding: 50px;
}